<?xml version="1.0" encoding="utf-8"?>
<tiltviewergallery>
  <photos>
  {% for gallery in page.galleries %}
     {% for filelst in gallery.files %}   
        {% assign files = filelst | replace:',',' ' | split: " " %}
        {% for file  in  files  %}
	<photo imageurl="{{ page.url | remove: 'gallery.xml' }}/{{ file }}" showFlipButton="true">
	   <title>{{ file }}</title>
	   <description> 相册：{{ gallery.name }} 描述：{{ gallery.discription }} </description>
        </photo>	
        {% endfor %}
     {% endfor %}
  {% endfor %}
  </photos>
</tiltviewergallery>
