<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"> <!--<![endif]-->

<head>
  <meta charset="UTF-8">
  <!--[if IE 8 ]><meta http-equiv="X-UA-Compatible" content="IE=7"><![endif]-->

  <title>{{ page.title }}</title>
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords | join: "," }}">{% endif %}
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico">

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.JB.rss_path }}">
  <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ site.JB.atom_path }}">

  <!-- Styles -->
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/style.min.css">
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/prettify/prettify.css">
  
  <!-- Scripts -->
  <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="/assets/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
  <link   rel="stylesheet"      href="/assets/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.min.css">

  {% if page.mathjax %}	
   <script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		config: ["MMLorHTML.js"],
		tex2jax: {
			inlineMath: [ ['$','$'], ['\\(','\\)'] ],
			processEscapes:true
  		},
  		jax: ["input/TeX","input/MathML","output/HTML-CSS","output/NativeMML"],
  		extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js"],
  		TeX: {
			extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js","autobold.js","cancel.js"],
			equationNumbers: { autoNumber: "AMS" }
  		},
		styles: {
  			".MathJax_Display": {
    				"overflow-x": "auto",
    				"overflow-y": "hidden"
  			}
		}
	});
   </script>
   <script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  {% endif %}

  {% if page.osmplayer %}	
  <link rel="stylesheet" href="/assets/jquery-ui/css/dark-hive/jquery-ui-1.10.4.custom.min.css">
  <link rel="stylesheet" href="/assets/osmplayer/templates/default/css/osmplayer_default.css">
  <script type="text/javascript" src="/assets/osmplayer/js/osmplayer.compressed.js"></script>
  <script type="text/javascript" src="/assets/osmplayer/templates/default/osmplayer.default.js"></script>
  {% endif %}

  {{ page.htmlhead }}

</head>

<body>

  <div id="wrap">
    <header id="top">
      <!-- Navigation Bar -->
      <nav id="navbar">
        <ul>
          {% capture home_url %}{{ HOME_PATH | append: '/index.html' | replace: '//', '/' }}{% endcapture %}
          <li{% if page.url == home_url %} class="active"{% endif %}>
            <a href="{{ HOME_PATH }}" rel="nofollow" title="首页">首页</a>
          </li>
          <li{% if page.url == site.JB.archives_path %} class="active"{% endif %}>
            <a href="{{ site.JB.archives_path }}" rel="nofollow" title="archives">归档</a>
          </li>
          <li{% if page.url == site.JB.messages_path %} class="active"{% endif %}>
            <a href="{{ site.JB.messages_path }}" rel="nofollow" title="留言板">留言板</a>
          </li>
	  
	  <li>
	  <a href="{{ site.JB.links_path }}" rel="nofollow" title="链接">链接</a>
	  </li>
	  
          <li{% if page.url == site.JB.about_path %} class="active"{% endif %}>
            <a href="{{ site.JB.about_path }}" rel="nofollow" title="关于">关于</a>
	  </li>

          <li>
	  <a href="{{ site.JB.lino_path }}" rel="nofollow" title="便签">便签</a>
	  </li>

	  <li>
	  <a href="{{ site.JB.gallery_path }}" rel="nofollow" title="相册">相册</a>
	  </li>

	  <li>
	  <a href="{{ site.JB.slide_path }}" rel="nofollow" title="PPT">PPT</a>
	  </li>
	  
	  <li>
	  <a href="{{ site.JB.docs_path }}" rel="nofollow" title="docs">docs</a>
	  </li>

          <li>
            <a href="{{ site.JB.rss_path }}" rel="nofollow" title="订阅 RSS"><i class="icon-large icon-fixed-width icon-rss"></i></a>
          </li>
          <li >
            <i id="icon-resize" class="icon-large icon-fixed-width icon-resize-full"></i>
          </li>
        </ul>
      </nav>
    </header>

    <section id="main">

      <!-- Sidebar -->
      <aside id="sidebar">
        <section id="search-box">
	 {% include widgets/search_box %}
	</section>
	<section>
	 <div style="padding:22px 18px">
	 <a class=social style="background-image: url('/images/social/godic.png');"  target="_blank" href="http://dict.godic.net/" title="德语助手">godic</a>
	 <a class=social style="background-image: url('/images/social/eudic.png');"  target="_blank" href="http://dict.eudic.net/" title="欧路英语">eudic</a>
	 <a class=social style="background-image: url('/images/social/douban.png');" target="_blank" href="http://www.douban.com/people/wzjwzj/" title="豆瓣">豆瓣</a>
	 <a class=social style="background-image: url('/images/social/dict.png');"   target="_blank" href="http://dict.cn/" title="dict">dict.cn</a>
	 <a class=social style="background-image: url('/images/social/mydict.png');" target="_blank" href="http://www.mydict.com/" title="mydict">mydict</a>
	 </div>
	</section>
	<!--toc-->
	<div id="toc_wraper" style="display:none">
	<section>
	   <a href="#"><i class="icon-fixed-width icon-list"></i> 目录 </a>
	   <div class="toc">
	</section>
	</div>
	<!--widget default include  -->
	{% if page.widget != false %}
	   {% include widgets/fixed_container %}
	{% endif %}
      </aside>
      <!-- Main Content -->
      <div id="main-inner">
        <div id="loader"><img src="{{ ASSET_PATH }}/img/loading.gif" alt="请稍侯"></div>
        <div id="main-content">
          {{ content }}
        </div>
      </div>
      
      {% include widgets/back_top_button %}
    </section>

    <footer id="bottom">
      <p align="center">&copy; {{ site.time | date: '%Y' }} guyueshuiming
        with help from <a href="http://jekyllbootstrap.com" target="_blank" rel="nofollow" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        and <a href="http://twitter.github.com/bootstrap/" target="_blank" rel="nofollow">Twitter Bootstrap</a>
      </p>
    </footer>
  </div>


{% include widgets/toc %}
<script type="text/javascript">
  $(document).ready(function() {
    $("table.highlighttable").wrap('<div style="overflow:auto;border: 1px solid rgba(0,0,0,0.15);border-radius: 4px;"></div>');
    $('pre:not(table.highlighttable pre, div.highlight pre, div.gist pre)').addClass('prettyprint linenums').attr('style', 'overflow:auto'); 
    $.getScript('/assets/prettify/prettify.js',function(){ prettyPrint();});
    $("#icon-resize").click(function(){
      if($(this).hasClass("icon-resize-full")){
         $(this).removeClass("icon-resize-full");
         $(this).addClass("icon-resize-small");
	 $("#wrap").css("width","100%");
      } else{
         $(this).removeClass("icon-resize-small");
         $(this).addClass("icon-resize-full");
	 $("#wrap").css("width","1000px");
      }
    });
    /*$( "#main-inner" ).css({"min-height":$( "#sidebar" ).css( "height" )});*/
  });
</script>
{% include JB/analytics %}
<script src="{{ ASSET_PATH }}/js/hc.js" type="text/javascript"></script>
<!--script src="http://dict.cn/hc/" type="text/javascript"></script-->
<script type="text/javascript">
dictInit();
</script>
</body>
</html>
